<footer class="footer">
    <div class="footer_container">
        <section>
            <h2 class="footer_title">
                Sobre
            </h2>
            <p class="footer_about-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam convallis, metus eget interdum semper, tellus dolor sodales turpis, sit amet commodo turpis nibh quis nisl. Cras a finibus nulla. Curabitur vitae pretium augue. In magna massa, convallis et consectetur nec, pellentesque ut enim.</p>
        </section>
        <address>
            <h2 class="footer_title">
                Contato
            </h2>
            <ul>
                <li><fa-icon [icon]="faEnvelope"></fa-icon> email@email.com</li>
                <li><fa-icon [icon]="faPhone"></fa-icon> (00) 0000-0000</li>
                <li><fa-icon [icon]="faWhatsapp"></fa-icon> (00) 0 0000-0000</li>
            </ul>
        </address>
    </div>
    <section class="footer_copyright">
        &copy; Todos os direitos reservados
    </section>
</footer>